app/dev/jade/index.jade
doctype html
html.fsvs(lang='ru')
  head
    meta(charset='UTF-8')
    title IDFLY Digital Production
    link(rel='icon', type='image/png', href='/favicon.ico')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/app.css')
  body
    .slide-arrows
      a(href='#')#prev-slide
      a(href='#')#next-slide
      a(href='#')#first-slide
    .main-wrap
      section#main
        .container
          .col-sm-12
            img(src='img/logo.png').logo-img
            h1 Программируем
              br
              | идеи
            h2 Разработка веб-приложений, сервисов и платформ
      section#about
        .container
          .col-sm-12
            img(src='img/logo-2.png').logo-img
            .logo-img
            h2 О нас
            .tabs-wrap
              .tabs-menu.col-sm-5
                // Nav tabs
                ul.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#tech', aria-controls='tech', role='tab', data-toggle='tab') Технологии
                  li(role='presentation')
                    a(href='#whoweare', aria-controls='whoweare', role='tab', data-toggle='tab') Кто мы
                  li(role='presentation')
                    a(href='#process', aria-controls='process', role='tab', data-toggle='tab') Процесс
                  li(role='presentation')
                    a(href='#services', aria-controls='services', role='tab', data-toggle='tab') Услуги
              .col-sm-7
                // Tab panes
                .tabs-content
                  #tech.tab-pane.fade.in.active(role='tabpanel')
                    .tab-wrap
                      .tab-num 01
                      .tab-title Технологии
                      .tab-content
                        .col-sm-6
                          .stack
                            .stack-title BACK-END:
                            .stack-text Ruby on Rails, PHP, Go
                          .stack
                            .stack-title MOBILE:
                            .stack-text Apache Cordova, PhoneGap
                          .stack
                            .stack-title DEVOPS:
                            .stack-text Docker, Jenkins, Ansible, Darius
                        .col-sm-6
                          .stack
                            .stack-title FRONT-END:
                            .stack-text HTML5, Angular, Gulp
                          .stack
                            .stack-title DATA:
                            .stack-text MySQL. PostgreSQL, Redis, RabbitMQ
                          .stack
                            .stack-title BIG DATA, HIGHLOAD:
                            .stack-text Go, Cassandra, Elastic Search
                  #whoweare.tab-pane.fade(role='tabpanel')
                    .tab-wrap
                      .tab-num 02
                      .tab-title Кто мы
                      .tab-content
                        p Команда идейных
                          br
                          | разработчиков-профессионалов,
                          br
                          | работающая на стыке технологий,
                          br
                          | сервиса и пользы.
                  #process.tab-pane.fade(role='tabpanel')
                    .tab-wrap
                      .tab-num 03
                      .tab-title Процесс
                      .tab-content
                        p
                          b Для нас важен
                            br
                            | не только результат.
                          | Процессы, такие как Agile, Lean,
                          br
                          | Continuous integration & delivery,
                          br
                          | QA, code review, – необходимая
                          br
                          | часть жизни проекта
                  #services.tab-pane.fade(role='tabpanel')
                    .tab-wrap
                      .tab-num 04
                      .tab-title Услуги
                      .tab-content
                        p
                          | Разработка проекта, помощь в проектировании,
                          br
                          | автоматизация процессов, техническая
                          br
                          | консультация, или поддержка кода.
                          br
                          br
                          | Если вы стартап в поисках CTO
                          br
                          | — будем рады помочь.
                          br
                          br
                          a.mailto(href='mailto:mail@idfly.ru') Напишите нам
      section#projects
        .container
          .col-sm-6
            img(src='img/logo-3.png').logo-img
          .col-sm-6
            #carousel
              .carousel-wrap
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
                .carousel-item
                  img(src='http://placehold.it/360x240')
      section#contacts
        .container
          .col-sm-12
            img(src='img/logo-4.png').logo-img
          .col-sm-5
            h2 Контакты
            .contacts--phone +7 903 998 76 17
            .contacts--address Новосибирск, Линейная 28
            .contacts--email
              a(href='mailto:mail@idfly.ru') mail@idfly.ru
          .col-sm-7
            .contact-form
              .form-title Есть идея? Расскажите
              form
                textarea(placeholder='Чем можем помочь?' rows='3' required)
                input(placeholder='Как вас зовут?' required)
                input(placeholder='Почта, телефон, скайп' required)
                button(type='submit') Отправить &nbsp;&nbsp;&nbsp;
                .form--icon
              .form-border
    nav#nav-menu
      .container
        .col-sm-12
          ul
            li#nav-menu--main.active
              a(href='#') Главная
            li#nav-menu--about
              a(href='#') О нас
            li#nav-menu--projects
              a(href='#') Проекты
            li#nav-menu--contacts
              a(href='#') Контакты
          a.mailto(href='mailto:mail@idfly.ru') Рассказать идею

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='js/onepage-scroll.js')
    script(src='js/app.js')

app/index.html
<!DOCTYPE html>
<html lang="ru" class="fsvs">
  <head>
    <meta charset="UTF-8">
    <title>IDFLY Digital Production</title>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="slide-arrows"><a href="#" id="prev-slide"></a><a href="#" id="next-slide"></a><a href="#" id="first-slide"></a></div>
    <div class="main-wrap">
      <section id="main">
        <div class="container">
          <div class="col-sm-12"><img src="img/logo.png" class="logo-img">
            <h1>Программируем<br>идеи</h1>
            <h2>Разработка веб-приложений, сервисов и платформ</h2>
          </div>
        </div>
      </section>
      <section id="about">
        <div class="container">
          <div class="col-sm-12"><img src="img/logo-2.png" class="logo-img">
            <div class="logo-img"></div>
            <h2>О нас</h2>
            <div class="tabs-wrap">
              <div class="tabs-menu col-sm-5">
                <!-- Nav tabs-->
                <ul role="tablist" class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#tech" aria-controls="tech" role="tab" data-toggle="tab">Технологии</a></li>
                  <li role="presentation"><a href="#whoweare" aria-controls="whoweare" role="tab" data-toggle="tab">Кто мы</a></li>
                  <li role="presentation"><a href="#process" aria-controls="process" role="tab" data-toggle="tab">Процесс</a></li>
                  <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Услуги</a></li>
                </ul>
              </div>
              <div class="col-sm-7">
                <!-- Tab panes-->
                <div class="tabs-content">
                  <div id="tech" role="tabpanel" class="tab-pane fade in active">
                    <div class="tab-wrap">
                      <div class="tab-num">01</div>
                      <div class="tab-title">Технологии</div>
                      <div class="tab-content">
                        <div class="col-sm-6">
                          <div class="stack">
                            <div class="stack-title">BACK-END:</div>
                            <div class="stack-text">Ruby on Rails, PHP, Go</div>
                          </div>
                          <div class="stack">
                            <div class="stack-title">MOBILE:</div>
                            <div class="stack-text">Apache Cordova, PhoneGap</div>
                          </div>
                          <div class="stack">
                            <div class="stack-title">DEVOPS:</div>
                            <div class="stack-text">Docker, Jenkins, Ansible, Darius</div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="stack">
                            <div class="stack-title">FRONT-END:</div>
                            <div class="stack-text">HTML5, Angular, Gulp</div>
                          </div>
                          <div class="stack">
                            <div class="stack-title">DATA:</div>
                            <div class="stack-text">MySQL. PostgreSQL, Redis, RabbitMQ</div>
                          </div>
                          <div class="stack">
                            <div class="stack-title">BIG DATA, HIGHLOAD:</div>
                            <div class="stack-text">Go, Cassandra, Elastic Search</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="whoweare" role="tabpanel" class="tab-pane fade">
                    <div class="tab-wrap">
                      <div class="tab-num">02</div>
                      <div class="tab-title">Кто мы</div>
                      <div class="tab-content">
                        <p>Команда идейных<br>разработчиков-профессионалов,<br>работающая на стыке технологий,<br>сервиса и пользы.</p>
                      </div>
                    </div>
                  </div>
                  <div id="process" role="tabpanel" class="tab-pane fade">
                    <div class="tab-wrap">
                      <div class="tab-num">03</div>
                      <div class="tab-title">Процесс</div>
                      <div class="tab-content">
                        <p><b>Для нас важен<br>не только результат.</b>Процессы, такие как Agile, Lean,<br>Continuous integration & delivery,<br>QA, code review, – необходимая<br>часть жизни проекта</p>
                      </div>
                    </div>
                  </div>
                  <div id="services" role="tabpanel" class="tab-pane fade">
                    <div class="tab-wrap">
                      <div class="tab-num">04</div>
                      <div class="tab-title">Услуги</div>
                      <div class="tab-content">
                        <p>Разработка проекта, помощь в проектировании,<br>автоматизация процессов, техническая<br>консультация, или поддержка кода.<br><br>Если вы стартап в поисках CTO<br>— будем рады помочь.<br><br><a href="mailto:mail@idfly.ru" class="mailto">Напишите нам</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="projects">
        <div class="container">
          <div class="col-sm-6"><img src="img/logo-3.png" class="logo-img"></div>
          <div class="col-sm-6">
            <div id="carousel">
              <div class="carousel-wrap">
                <div class="carousel-item"><img src="http://placehold.it/360x240"></div>
                <div class="carousel-item"><img src="http://placehold.it/360x240"></div>
                <div class="carousel-item"><img src="http://placehold.it/360x240"></div>
                <div class="carousel-item"><img src="http://placehold.it/360x240"></div>
                <div class="carousel-item"><img src="http://placehold.it/360x240"></div>
                <div class="carousel-item"><img src="http://placehold.it/360x240"></div>
                <!--img(src='http://placehold.it/360x240')-->
                <!--img(src='http://placehold.it/360x240')-->
                <!--img(src='http://placehold.it/360x240')-->
                <!--img(src='http://placehold.it/360x240')-->
                <!--img(src='http://placehold.it/360x240')-->
                <!--img(src='http://placehold.it/360x240')-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contacts">
        <div class="container">
          <div class="col-sm-12"><img src="img/logo-4.png" class="logo-img"></div>
          <div class="col-sm-5">
            <h2>Контакты</h2>
            <div class="contacts--phone">+7 903 998 76 17</div>
            <div class="contacts--address">Новосибирск, Линейная 28</div>
            <div class="contacts--email"><a href="mailto:mail@idfly.ru">mail@idfly.ru</a></div>
          </div>
          <div class="col-sm-7">
            <div class="contact-form">
              <div class="form-title">Есть идея? Расскажите</div>
              <form>
                <textarea placeholder="Чем можем помочь?" rows="3" required></textarea>
                <input placeholder="Как вас зовут?" required>
                <input placeholder="Почта, телефон, скайп" required>
                <button type="submit">Отправить &nbsp;&nbsp;&nbsp;</button>
                <div class="form--icon"></div>
              </form>
              <div class="form-border"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <nav id="nav-menu">
      <div class="container">
        <div class="col-sm-12">
          <ul>
            <li id="nav-menu--main" class="active"><a href="#">Главная</a></li>
            <li id="nav-menu--about"><a href="#">О нас</a></li>
            <li id="nav-menu--projects"><a href="#">Проекты</a></li>
            <li id="nav-menu--contacts"><a href="#">Контакты</a></li>
          </ul><a href="mailto:mail@idfly.ru" class="mailto">Рассказать идею</a>
        </div>
      </div>
    </nav>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/onepage-scroll.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
